In [2]:
#import dependancies
import pandas as pd
import matplotlib.pyplot as plt

#create variables to hold the location of data sets
weather_loc = "./resources/weatherAUS.csv"
crash_loc = "./resources/Crash_Data.csv"

In [35]:
#bring in weather data
weather_data = pd.read_csv(rainfall_loc)

#place data into dataframe
weather_df = pd.DataFrame(weather_data)


#create new dataframe that holds date, location and rainfall data
rainfall_df = weather_df[['Date','Location','Rainfall']]

#split the Date into Year, Month and Day
rainfall_df[['Year','Month','Day']] = rainfall_df['Date'].str.split('-',expand=True)

#reorder the Dataframe and drop out the "Date" column
rainfall_df = rainfall_df[['Year','Month','Location','Rainfall']]
print(rainfall_df.head())

#check for missing data
print(rainfall_df.count())

#clean dataset
rainfall_cleaned_df=rainfall_df.dropna()

print(rainfall_cleaned_df.count())

C:\Users\jtlow\anaconda3\lib\site-packages\pandas\core\frame.py:3191: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

   Year Month Location  Rainfall
0  2008    12   Albury       0.6
1  2008    12   Albury       0.0
2  2008    12   Albury       0.0
3  2008    12   Albury       0.0
4  2008    12   Albury       1.0
Year        145460
Month       145460
Location    145460
Rainfall    142199
dtype: int64
Year        142199
Month       142199
Location    142199
Rainfall    142199
dtype: int64

In [33]:
#group data by the location the rain has occurred
rainfall_grouped = rainfall_cleaned_df.groupby(['Location'])

#sum the rainfall data
rainfall_grouped.sum().reset_index()

            Location  Rainfall
0           Adelaide    4841.6
1             Albany    6827.8
2             Albury    5763.4
3       AliceSprings    2676.8
4      BadgerysCreek    6421.4
5           Ballarat    5268.8
6            Bendigo    4913.2
7           Brisbane    9941.0
8             Cairns   17157.2
9           Canberra    5953.2
10             Cobar    3368.4
11      CoffsHarbour   14946.6
12          Dartmoor    6315.2
13            Darwin   16260.2
14         GoldCoast   11232.8
15            Hobart    5106.6
16         Katherine    4993.7
17        Launceston    6092.3
18         Melbourne    4553.6
19  MelbourneAirport    4369.0
20           Mildura    2841.8
21             Moree    4652.6
22      MountGambier    6327.4
23       MountGinini    9570.6
24         Newcastle    9408.4
25              Nhil    1466.8
26         NorahHead    9921.4
27     NorfolkIsland    9270.4
28         Nuriootpa    4175.2
29        PearceRAAF    4610.0
30           Penrith    6447.6
31             Perth    6086.8
32      PerthAirport    5300.8
33          Portland    7581.0
34          Richmond    6310.6
35              Sale    4530.5
36        SalmonGums    3056.6
37            Sydney   11094.0
38     SydneyAirport    9044.8
39        Townsville   10571.8
40       Tuggeranong    6487.8
41             Uluru    1193.8
42        WaggaWagga    5088.8
43           Walpole    8194.4
44          Watsonia    5580.6
45       Williamtown    9168.1
46       Witchcliffe    8548.0
47        Wollongong   10720.0
48           Woomera    1466.8