In [6]:
#import dependancies
import pandas as pd
import matplotlib.pyplot as plt

#create variables to hold the location of data sets
weather_loc = "./resources/weatherAUS.csv"
crash_loc = "./resources/Crash_Data.csv"

In [12]:
#bring in weather data
weather_data = pd.read_csv(weather_loc)

#place data into dataframe
weather_df = pd.DataFrame(weather_data)


#create new dataframe that holds date, location and rainfall data
rainfall_df = weather_df[['Date','Location','Rainfall']]

#split the Date into Year, Month and Day
rainfall_df[['Year','Month','Day']] = rainfall_df['Date'].str.split('-',expand=True)

#reorder the Dataframe and drop out the "Date" column
rainfall_df['Date'] = rainfall_df['Year']+'-'+rainfall_df['Month']

rainfall_df= rainfall_df[['Date','Location','Rainfall']]
print(rainfall_df.head())

#check for missing data
print(rainfall_df.count())

#clean dataset
rainfall_cleaned_df=rainfall_df.dropna()

print(rainfall_cleaned_df.count())

C:\Users\jtlow\anaconda3\lib\site-packages\pandas\core\frame.py:3191: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
<ipython-input-12-854efdbc2b35>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rainfall_df['Date'] = rainfall_df['Year']+'-'+rainfall_df['Month']

      Date Location  Rainfall
0  2008-12   Albury       0.6
1  2008-12   Albury       0.0
2  2008-12   Albury       0.0
3  2008-12   Albury       0.0
4  2008-12   Albury       1.0
Date        145460
Location    145460
Rainfall    142199
dtype: int64
Date        142199
Location    142199
Rainfall    142199
dtype: int64

In [66]:
#group data by the location the rain has occurred
rainfall_grouped = rainfall_cleaned_df.groupby(['Location','Date'])

#sum the rainfall data
simple_rainfall = rainfall_grouped.sum().reset_index()

simple_rainfall

      Location     Date  Rainfall
0     Adelaide  2008-07      72.2
1     Adelaide  2008-08      84.8
2     Adelaide  2008-09      16.0
3     Adelaide  2008-10       8.0
4     Adelaide  2008-11      13.8
...        ...      ...       ...
4762   Woomera  2017-02       0.0
4763   Woomera  2017-03       0.0
4764   Woomera  2017-04      40.7
4765   Woomera  2017-05      10.6
4766   Woomera  2017-06       0.2

[4767 rows x 3 columns]

In [65]:
states_dict = {'SA':['Adelaide','MountGambier','Nuriootpa','Woomera'],
              'ACT':['Canberra','MountGinini','Tuggeranong'],
              'NSW':['Albury','BadgerysCreek','Cobar','CoffsHarbour','Moree','Newcastle','NorahHead','Penrith','Sydney','SydneyAirport','WaggaWagga','Williamtown','Wollongong'],
              'Qld':['Brisbane','Cairns','GoldCoast','Townsville'],
              'Vic':['Ballarat','Bendigo','Dartmoor','Melbourne','MelbourneAirport','Mildura','Nhil','Portland','Sale','Watsonia'],
              'NT':['AliceSprings','Darwin','Katherine','Uluru'],
              'WA':['Albany','PearceRAAF','Perth','PerthAirport','SalmonGums','Walpole','Witchcliffe'],
              'Tas':['Hobart','Launceston']}